@charset "UTF-8";

/*Folha de estilo*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #1111;
    background-image: url(/assets/bgnetflix.png);
    position: relative;
    background-size: cover;
    /**/

}

.nav_logo {
    object-fit: contain;
}

.nav_avatar {
    width: 30px;
    object-fit: contain;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.banner {
    background-image: url(/assets/bannerZootopia2.png);
    background-size: cover;
    background-position: center center;
    color: #fff;
    object-fit: contain;
    height: 448px;
}

.banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;

}

.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
}

.banner__button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner--fadeBottom {
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.row{
    color: #fff;
    margin-left: 20px;
}

.row__poster {
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 15px;
}

.row__poster:hover {
    transform: scale(1.08);
}

.row__posterLarge {
    max-height: 250px;

}

.row__posterLarge:hover {
    transform: scale(1.09);
}

.row__posters::-webkit-scrollbar{
display: none;
}

.nav__black{
    background-color: #111;
}















header {
    padding: 5px;

    /*background: #000;
    background: linear-gradient();*/
}

header img {
    width: 150px;
}

h1 {
    color: #fff;
}

p {
    font-size: 20px;
    color: #fff;
}

img {

    width: 100px;
    height: auto;

}