@charset "utf-8";

/* --color1: #6a0dad; ROXO*/
/* --color2: #F7F7F7; BRANCO*/
/* --color3: #d3d3d3; BRANCO CLARO*/
/* --color4: #ffd700; AMARELO OURO*/
/* --color2: #f2fedc; VERDE CLARO*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(#6a0dad, #f2fedc 100%);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;

  color: #d3d3d3;
  padding: 0.3em;
  margin: 0.5rem;

  display: block;
}

header {
  background-color: #ffd700;

  margin-top: 3px;
  border-radius: 7px 7px 0px 0px;
  width: 90vw;
  margin: auto;
}

header > h1 {
  color: black;
  padding: 3px;
  margin-top: 17px;
  text-align: center;
}

menu {
  width: 90vw;
  margin: auto;
  text-align: center;
  background-color: #ffd700;
  padding: 3px 3px 10px;

  /*Verificar a ordem correta do menu*/
}

menu > ul {
  list-style-type: none;
}

menu > ul > li > a {
  display: block;
  padding: 7px;
  text-decoration: none;
  text-align: center;
  border-radius: 0px 0px 0px 0px;
  color: whitesmoke;
  margin: auto;
}

menu > ul > li > a:hover {
  background-color: #c5a898;
  color: whitesmoke;
  text-decoration: none;
}

main {
  background-color: #f2fedc;
}
p {
  text-align: justify;
  color: black;
}

footer {
  background-color: #f2fedc;
}

footer > p {
  text-align: center;
}
